{
    "ecmaFeatures": {
        "binaryLiterals": false, // enable binary literals
        "blockBindings": true,
        "defaultParams": true,
        "forOf": true,
        "generators": true,
        "objectLiteralComputedProperties": false,
        "objectLiteralDuplicateProperties": false,
        "objectLiteralShorthandMethods": false,
        "objectLiteralShorthandProperties": false,
        "octalLiterals": false,
        "regexUFlag": false,
        "regexYFlag": false,
        "templateStrings": true,
        "unicodeCodePointEscapes": false,
        "jsx": false
    },
    "env": {
        "browser": true,
        "node": true,
        "amd": false,
        "mocha": true,
        "jasmine": false,
        "phantomjs": false,
        "jquery": true,
        "prototypejs": false,
        "shelljs": false
    },
    "rules": {
        "curly": 0,
        "no-multi-spaces": 0,
        "strict": 0,
        "no-shadow": 0,
        "no-unused-vars": 0,
        "no-mixed-requires": 0,
        "no-process-exit": 0,
        "no-space-before-semi": 0,
        "quotes": 0,
        "space-after-function-name": 0,
        "space-after-keywords": 0,
        "space-before-blocks": 0,
        "space-in-brackets": 0,
        "space-in-parens": 0,
        "space-infix-ops": 0,
        "space-return-throw-case": 0,
        "space-unary-ops": 0,
        "spaced-line-comment": 0,
        "no-bitwise": 0
    }
}